/* Global - page */
*{ 
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*HEADER*/

.header{
    height:100px;
    padding: 0 50px;
    display: flex;
    color: #fff;
    background-color:#383838;
    justify-content: space-between;
    align-items: center;
}

.nombre{
    text-transform: uppercase;
}
    
li, a{
    text-decoration: none;
    list-style-image: none;
    color: whitesmoke;
    display: inline;
}

